ZALO_BOT_TOKEN=""YOUR_ZALO_APP_TOKEN""
GREENNODE_API_KEY=""YOUR_VNG_CLOUD_KEY""
GREENNODE_MAAS_URL=""https://maas-llm-aiplatform-hcm.api.vngcloud.vn/v1/chat/completions""
URL_ASSESS=""http://localhost:8080/assess""
URL_MEMO=""http://localhost:8080/build-memo-docx""
LOG_LEVEL=""INFO""
PORT=""8080""
